<div class="container">
  <div class="left">
    <div *ngFor="let report of (metarReports | async); let i = index;">
      <ng-container *ngIf="i < 35">
        {{report}}
      </ng-container>
    </div>
  </div>
  <div class="right">
    <h3>Airport Wind Speeds</h3>
    <table>
      <tr>
        <th>Airport</th>
        <th>Current (MPS)</th>
        <th>Avg (MPS)</th>
      </tr>
      <tr *ngFor="let icaoCode of airportWindData">
        <td width="20px">{{icaoCode}}</td>
        <td width="50px">{{dataOperation.getCurrentSpeed(airportDataByIcaoCode[icaoCode]) | number}}</td>
        <td width="50px">{{dataOperation.getAverageSpeed(airportDataByIcaoCode[icaoCode]) | number}}</td>
      </tr>
    </table>
  </div>
</div>
